/*-- scss:defaults --*/



$primary: #A603FE !default;
$font-family-base: 'Source Sans Pro', 'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
$body-color: #6c757d !default;
$headings-font-family: 'Prata', 'Roboto', 'Playfair Display', 'Montserrat' !default;